
.card {
  justify-content: center;
  border-radius: 20px;
  background: var(--Background-DarkGrey, #232323);
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  flex-grow: 1;
  width: 238px;
  margin: auto 0;
}

.cardContent {
  display: flex;
  min-height: 420px;
  flex-direction: column;
  justify-content: center;
  padding: 7px 8px;
}

.imageWrapper {
  border-radius: 12px;
  background-color: #333;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: start;
  flex: 1;
  height: 100%;
  aspect-ratio: 1;
}

.gameImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
  min-width: 240px;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

.gameInfo {
  display: flex;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  font-family: Onest, sans-serif;
  color: var(---, #e7e7e7);
  justify-content: space-between;
  flex: 1;
  padding: 2px 8px 8px;
}

.gameTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.gamePrice {
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  margin-top: 22px;
}

@media (max-width: 991px) {
  .gameTitle {
    white-space: initial;
  }
}
