
.promotions {
  margin-top: 71px;
  font-family: Onest, sans-serif;
  color: var(--Text-White, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotionsTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 500;
  line-height: 2;
}

.promotionList {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  height: 438px;
}

.promotionItem {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--Text-White, #fff);
  overflow: hidden;
  width: 298px;

}

.promotionImage {
  width: 100%;
  aspect-ratio: 0.68;
  object-fit: cover;
}

.promotionContent {
  padding: 16px;
}

.promotionTitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.promotionPrice {
  font-size: 22px;
  font-weight: 600;
}

.viewAllButton {
  display: block;
  margin: 20px auto 0;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: var(--Text-White, #fff);
  font-size: 14px;
  padding: 14px 24px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .promotionList {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
